.container {
    font-family: 'Arial', sans-serif;
    width: 450px;
    margin: 50px auto;
}

.text-muted {
    color: gray;
}
.input [type="text"] {
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}

ul {
    list-style: none;
    padding: 0px;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
}

li p {
    margin: 0px;
}

.erase {
    background-color: burlywood;
    color: white;
    border: none;
    padding: 5px 10px;
    visibility: hidden;
}

li:hover .erase {
    visibility: visible;
}

.fontSizeSmall {
    font-size: 16px;
    color: gray;
}


